@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Noto Sans TC", sans-serif;
    }

    .light {
        color: #000;
        background: #fff;
    }

    .dark {
        color: #fff;
        background: #000;
    }

    .theme {
        transition: 0.5s all cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@layer components {
    .prose-init {
        @apply prose-hr:border-t-4;
    }
}
